

.tweetSection {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background: var(--ifm-color-emphasis-100);
}

.tweetSvg {
    height: 200px;
    width: 200px;
}

.card{
    background-color: var(--ifm-card-background-color);
    border-radius: calc(0.4rem*2);
    box-shadow: 0 1px 2px 0 #0000001a;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 2rem;
}
.card__header{
    padding: 1rem;
    padding-bottom: 0;
}
.card__body{
    padding: 1rem;
    padding-bottom: 0;
    font-size:0.938rem;
}
.card__footer{
    padding: 1rem;
    color: var(--ifm-color-emphasis-700);
    font-size:0.875rem;
}

.avatar{
    display: flex;
    column-gap: 1rem;
}
.avatar__img{
    border-radius: 50%;
    display: block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}
.avatar__intro{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    text-align: inherit;
    font-size:0.938rem;
    color: var(--ifm-color-emphasis-700);
}
.avatar__name{
    color: var(--ifm-font-color-base);
    font-size: 1.1rem;
}

.heading > span{
    vertical-align: middle;
}
